[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
