URxvt*font: -*-terminus-medium-*-*-*-24-*-*-*-*-*-*-*
URxvt*boldFont: -*-terminus-bold-*-*-*-24-*-*-*-*-*-*-*
URxvt*cursorBlink: true
URxvt*letterSpace: 0
URxvt*cursorUnderline: true
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*urgentOnBell: true
URxvt*depth: 32
URxvt.background: [85]#000000
URxvt*saveline: 10000
URxvt*geometry: 120x32

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #222222
*.color8:       #777777

! red
*.color1:       #ff0099
*.color9:       #ff0099

! green
*.color2:       #00aa00
*.color10:      #00aa00

! yellow
*.color3:       #ff9500
*.color11:      #ff9500

! blue
*.color4:       #0077ff
*.color12:      #0077ff

! magenta
*.color5:       #aa00ff
*.color13:      #aa00ff

! cyan
*.color6:       #00ffbb
*.color14:      #00ffbb

! white
*.color7:       #ffffff
*.color15:      #ffffff

